
/* Gallery */
	

.bsdk {
    display: block;
                   
}
.bsdk img{
    max-width: 50%;
}
.bsdk .service-text{
    margin: 0;
}

@media screen and (max-width: 1200px){
    .bsdk .services-list{
        display:block;
        max-width: 100%;  
    }
    .bsdk img{
        max-width: 70%;
    }
}
@media screen and (max-width: 480px) {

    .gallery {
        padding: 0px;
    }
    
    .madrchod {
        display: none;
    }
    
    .bsdk {
        display: block;
    }
    
    .madrchod {
        display: none;
    }

}


@media screen and (max-width: 736px) {

	
    .bsdk {
        display: block;
    }
    
    .bsdk img{
        max-width: 80%;
    }
    
    .gallery .content .media {
        width: 50%;
    }
    
    .madrchod {
        display: none;
    }

}
