
/* Gallery */
	

				.bsdk {
					display: block;
				}


		@media screen and (max-width: 480px) {

			.gallery {
				padding: 0px;
			}
			.madrchod {
						display: none;
					}

		}


			@media screen and (max-width: 736px) {

	
				.bsdk {
					display: block;
				}

			}

			@media screen and (max-width: 480px) {

				.bsdk {
					display: block;
				}

			}

	
				@media screen and (max-width: 736px) {

					.gallery .content .media {
						width: 50%;
					}
					.madrchod {
						display: none;
					}
					.bsdk {
					display: block;
				}

				}

				@media screen and (max-width: 480px) {

					.madrchod {
						display: none;
					}
					.bsdk {
					display: block;
				}

				}

