@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-facebook:before {
    content: "\f09a"
}
.fa-github:before {
    content: "\f09b"
}



.team-members{
    position: relative; 
	width: 1150px; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	text-align: center;
    font-family: sans-serif;
    line-height: 1.4;
}
.team-member{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:23%;
	margin:1%;
	display:inline-block;
	float:left;
	overflow:hidden;
	position: relative !important;
	background: rgb(255, 255, 255);
	cursor:pointer;
}

.team-member img {
	width: 300px;
	height: 260px;
	position: relative;
	top:0;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);		
}

.team-member .label {
    position: absolute;
    text-align: center;
	width: 100%;
	height:60px;
	bottom:-60px;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.team-member .label-bg {
	background: linear-gradient(150deg, #4C4491 0%, #39b54a 100%);
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	cursor: pointer;

}

.team-member .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
	font-size: 20px;
	cursor: pointer;
}

.team-member .role{
    display:block;
	font-size:15px;
	cursor: pointer;
}
.team-member .label-text a{
	color:#fff;
}

.team-member .contact{
    position: relative;
	bottom: 150px;
	visibility: hidden;
	cursor: pointer;
	font-weight:600;
    font-size: 18px;
}

.team-member:hover .label {
	bottom:0;
	cursor: pointer;
}

.team-member:hover  .contact {

	visibility: visible;
	cursor: pointer;
} 
.team-member:hover img {
	-webkit-filter: blur(2px);
	filter: blur(2px);	
	cursor: pointer;
} 
.team-member .contact i{
    margin: 6px;
}



.image {
	position:relative;

}
.image img {
	width:100%;
	vertical-align:top;
}
.team-member .image:after {
	content:'\A';
	position:absolute;
	width:100%; height:100%;
	top:0; left:0;
	background:rgba(0,0,0,0.6);
	opacity:0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
}
.team-member:hover .image:after {
	opacity:1;
	cursor: pointer;
}
#span {
	display: none;
}
.navbar {
	display: none;
}
p.text{

	margin-top: -50px; 
}